@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@font-face {
	font-family: 'DejaVu Sans';
	src: url(assets/DejaVuSans.ttf);
}
@font-face {
	font-family: 'DejaVu Sans Mono';
	src: url(assets/DejaVuSansMono.ttf);
}

html {
	height:100%;
}

html, body {
	position:relative;
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    font-family: 'DejaVu Sans', sans-serif;
    
    background-color: #000000;
}

div {
	position:relative;
}

div.ui {
	margin:4px;
	background-color: rgba(100,100,100,0.2);
	border: 1px solid rgba(140,140,140,1.0);
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 100;
}

div.ui table {
	margin-top:2px;
}

div.mainwindow {
	margin:0 16px 0 16px;
	padding:4px;
}

div.component {
	position:relative;
	padding:0;
	width:100px;
	height:100px;
	background-color: rgba(32,32,32,0.85);
	display: inline-block;
	margin:0 3px 0 3px;
	text-align: center;
	cursor: pointer;
	overflow:hidden;
	white-space:normal;
	/*word-break: break-all;*/
	word-wrap: break-word;
}

div.regionbox {
	position:relative;
	padding:0;
	width:350px;
	height:29px;
	background-color: rgba(32,32,32,0.85);
	display: block;
	margin:0 3px 3px 3px;
	text-align: center;
	cursor: pointer;
	overflow:hidden;
	white-space:normal;
	/*word-break: break-all;*/
	word-wrap: break-word;
}

div.shipbox {
	position:relative;
	padding:3px;
	width:200px;
	height:250px;
	background-color: rgba(32,32,32,0.85);
	display: inline-block;
	margin:3px 0 0 3px;
	text-align: center;
	overflow:hidden;
}

div.shipoverlay {
	position:absolute;
	background-color:rgba(60,60,60,0.85);
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	padding-top:50px;
	visibility:hidden;
}

div.shipcanvascontainer {
	width:192px;
	height:192px;
}

div.shipcanvascontainer canvas{
	position:absolute;
	top:0px;
	left:0px;				
}

div.shipbgleft, div.shipbgmid, div.shipbgright {
	position:absolute;
	top:0px;
	height:192px;
	border: 1px solid rgba(140,140,140,1.0);
	background-color: rgb(12,12,12);	
}

div.shipbgleft {
	width:25px;
	border-right:0px none;
	transform: matrix3d(0.921875, -0.6, 0, -0.003125, 
                    0, 0.921875, 0, 0, 
                    0, 0, 1, 0, 
                    0, 15, 0, 1);
    -webkit-transform: matrix3d(0.921875, -0.6, 0, -0.003125, 
                    0, 0.921875, 0, 0, 
                    0, 0, 1, 0, 
                    0, 15, 0, 1);
    -moz-transform: matrix3d(0.921875, -0.6, 0, -0.003125, 
                    0, 0.921875, 0, 0, 
                    0, 0, 1, 0, 
                    0, 15, 0, 1);
	transform-origin: 0px 0px 0px;
	-webkit-transform-origin: 0px 0px 0px;
	-moz-transform-origin: 0px 0px 0px;
}

div.shipbgmid {
	width:142px;
	left:25px;
	border-right:0px none;
	border-left:0px none;
	/*background-color: rgba(15,15,15,0.85);*/
}

div.shipbgright {
	width:25px;
	left:167px;
	border-left:0px none;
	transform: matrix3d(1.084746, 0, 0, 0.00339, 
                    0, 1, 0, 0, 
                    0, 0, 1, 0, 
                    0, 0, 0, 1);
    -webkit-transform: matrix3d(1.084746, 0, 0, 0.00339, 
                    0, 1, 0, 0, 
                    0, 0, 1, 0, 
                    0, 0, 0, 1);
    -moz-transform: matrix3d(1.084746, 0, 0, 0.00339, 
                    0, 1, 0, 0, 
                    0, 0, 1, 0, 
                    0, 0, 0, 1);
	transform-origin: 0px 0px 0px;
	-webkit-transform-origin: 0px 0px 0px;
	-moz-transform-origin: 0px 0px 0px;
}

div.selected {
	border: 1px solid #FFFF00;
}

div.databank {
	overflow-x:scroll;
	overflow-y:hidden;
	max-height:135px;
	white-space:nowrap;
}

div.databankinner {
	position:relative;
	margin:3px 0 0 0;
	display:inline-block;
	overflow:hidden;
	height:100px;
}

div.regionbank {
	overflow-x:hidden;
	overflow-y:scroll;
	max-width:375px;
	white-space:nowrap;
	height:402px;
	display:inline-block;
	margin:4px 1px 0 4px;
}

div.regionbankinner {
	position:relative;
	margin:3px 0 0 0;
	display:block;
	overflow:hidden;
	width:370px;
}

div.addbutton {
	margin:3px 3px 0 -1px;
}

div.addregionbutton {
	padding:5px 8px 5px 8px;
}

div.addbutton>span {
	display:block;
	margin: 12px 0 10px 0;
	font-size:56px;
	color:#404040;
}
div.addregionbutton>span>span:last-child {
	color:#404040;		
}

div.addbutton:hover>span, div.addregionbutton:hover>span>span:last-child {
	color:#EEEEEE;
}

div.button {
	position:relative;
	font-size:10px;
	background-color:#000000;
	width: 17px;
	text-align:left;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin:0;
	padding:2px 0 0 0;
	top:-2px;
	height:17px;
	border: 1px solid rgba(140,140,140,1.0);
	overflow:hidden;
	vertical-align:bottom;
	color:#8C8C8C;
}

div.button.glyphicon-plus {
	padding-left:3px;
}

div.button.glyphicon-minus {
	padding-left:2px;
}

div.button:hover, div.listbutton:hover {
	color:#EEEEEE;
	border: 1px solid #EEEEEE;
}

div.listbutton {
	position:relative;
	font-size:10px;
	background-color:#000000;
	width: 17px;
	text-align:left;
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	margin:1px 3px 1px 1px;
	padding:3px 0 0 2px;
	top:0px;
	height:17px;
	border: 1px solid rgba(140,140,140,1.0);
	color:#8C8C8C;
	display:inline-block;
}

div.listbutton.glyphicon-star {
	padding-left:3px;
}

div.listbutton.glyphicon-trash:hover {
	color:#FF0000;
}

div.field {
	display:inline-block;
	width:180px;
	border-bottom:1px solid rgba(0,0,0,0.3);
	padding-right:5px;
	padding-left:5px;
	vertical-align:top;
}

div.enumreadout {
	position:absolute;
	top:0px;
	left:210px;
	width:150%;
}

div.sortbutton {
	position:absolute;
	visibility:hidden;
	width:24px;
	height:24px;
	top:32px;
	border:0;
	color:#808080;
	font-size:16px;
	padding:3px 1px 3px 1px;
}

div.regionsortbutton {
	position:absolute;
	visibility:hidden;
	width:24px;
	height:13px;
	top:-4px;
	left:-4px;
	border:0;
	color:#808080;
	font-size:10px;
	padding:0px 1px 0px 1px;
	background-color:rgba(0,0,0,0.5);
}

div.sortdown {
	top:10px;
}

div.copybutton {
	position:absolute;
	visibility:hidden;
	opacity:0.25;
	width:24px;
	height:24px;
	bottom:-5px;
	right:-5px;
	border:0;
	color:#808080;
	font-size:16px;
	padding:3px 2px 3px 0;
	background: none;
}

div.regioncopybutton {
	position:absolute;
	visibility:hidden;
	opacity:0.25;
	width:28px;
	height:28px;
	top:-4px;
	right:23px;
	border:0;
	color:#808080;
	font-size:16px;
	padding:5px 2px 3px 0;
	background: none;
}

div.deletebutton {
	position:absolute;
	visibility:hidden;
	opacity:0.25;
	width:24px;
	height:24px;
	top:-5px;
	right:-5px;
	border:0;
	color:#808080;
	font-size:16px;
	padding:3px 2px 3px 0;
	background: none;
}

div.regiondeletebutton {
	position:absolute;
	visibility:hidden;
	opacity:0.25;
	width:28px;
	height:28px;
	top:-4px;
	right:-5px;
	border:0;
	color:#808080;
	font-size:16px;
	padding:5px 2px 3px 0;
	background: none;
}

div.deletescreen {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(60,60,60,0.85);
	word-break: normal;
	padding-top:15px;
	top:0;
	cursor:default;
}

div.regiondeletescreen {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(60,60,60,0.85);
	word-break: normal;
	padding-top:5px;
	top:0;
}

div.deletescreenbutton {
	font-size:20px;
	margin:10px;
	color:#AAAAAA;
	cursor:pointer;
}

div.regiondeletescreenbutton {
	margin:0px 2px 2px 12px;
	color:#AAAAAA;
	top:2px;
}

div.deleteyes:hover {
	color:#66FF33;
}

div.deleteno:hover {
	color:#FF4444;
}

div.sortbutton:hover, div.regionsortbutton:hover {
	color:#FFFFFF;
}

div.copybutton:hover, div.regioncopybutton:hover {
	opacity:1.0;
	color:#FFFFFF;
	background-color: rgba(100,100,100,0.2);
	text-shadow: 0 0 2px rgba(0,0,0,1.0), 0 0 2px rgba(0,0,0,1.0), 0 0 3px rgba(0,0,0,1.0);
}

div.deletebutton:hover, div.regiondeletebutton:hover {
	opacity:1.0;
	color:#FF0000;
	background-color: rgba(100,100,100,0.2);
}

div.sortleft {
	left:-5px;
}

div.sortright {
	right:-5px;
}

div.component:hover div.sortbutton, div.component:hover div.deletebutton, div.component:hover div.copybutton {
	visibility:visible;
}

div.regionbox:hover div.regionsortbutton, div.regionbox:hover div.regiondeletebutton, div.regionbox:hover div.regioncopybutton {
	visibility:visible;
}

div.regioncolour {
	position:absolute;
	background-color: #808080;
	width:25px;
	height:27px;
	top:0px;
	border-right: 1px solid rgba(140,140,140,1.0);
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

div.menu, div.menudisabled {
	display:inline-block;
	position:relative;
	width:50px;
	height:40px;
	text-align:center;
	font-family: 'Droid Sans Mono', sans-serif;
	cursor:pointer;
	margin-top:5px;
	color:#AAAAAA;
}

div.menudisabled {
	color:#505050;
	cursor:default;
}

div.menu:hover {
	color:#FFFFFF;
}

div.menuicon {
	display:block;
	font-size:20px;
	margin-bottom:-5px;
}

div.colourreadout {
	display:inline-block;
}

div.colourreadout span {
	position:relative;
	top:-1px;	
}

div.colourreadout span:before {
	padding-right:3px;
	position:relative;
	top:2px;
}

div.colourreadout input[type=number] {
	position:relative;
	top:0px;
	width:45px;
	padding-right:0;
	margin-right:4px;
}

div.colourreadout input[type=text] {
	position:relative;
	top:0px;
	width:66px;
	padding-right:0;
}

div.colourreadout span.hex {
	font-weight:bold;
	padding-right:3px;
	font-family: 'Droid Sans Mono', sans-serif;
}

div.moduleswatch {
	display:inline-block;
	width:50px;
	height:14px;
	margin-right:4px;
	border: 1px solid rgb(140,140,140);
	overflow:hidden;
	position:relative;
	top:2px;
}

div.shapedisplay {
	padding:0;
	width:150px;
	height:150px;
	background-color: rgba(32,32,32,0.85);
	display: inline-block;
	margin:0 3px 0 3px;
	text-align: center;
	cursor: pointer;
	overflow:hidden;
	white-space:normal;
	word-wrap: break-word;
}

div.shapedisplay span:before {
	margin-right:3px;
}

div.shapeoverlay {
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(60,60,60,0.85);
	word-break: normal;
	padding-top:15px;
}

div.break {
	display:block;
	height:7px;
	background-color:rgba(0,0,0,0.1);
	border-color:rgba(0,0,0,0.1);
	border-style:solid;
	border-width:1px 0 1px 0;
	margin:4px 0 4px 0;
	width:497px;
}

div.tabrow {
	margin:12px 16px -1px 16px;
}

div.tab {
	display:inline-block;
	color:#EEEEEE;
	padding:3px 0px 8px 0px;
	text-align:left;
	z-index:1;
	margin: 0px -7px 0px 0px;
	width:96px;
	height:26px;
	text-align:center;
	font-family:"Droid Sans";
	cursor:pointer;
}

div.tabdisplay {
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	color:#EEEEEE;
	background-color:#404040;
	padding:5px;
	border:1px solid rgba(140,140,140,1.0);
	border-left-color: rgba(160,160,160,1.0);
	width:94px;
	height:26px;
	
	transform: matrix3d(0.925532, 0, 0, 0, 
                    -0.269231, 0.925532, 0, -0.002864, 
                    0, 0, 1, 0, 
                    7, 0, 0, 1);
    -webkit-transform: matrix3d(0.925532, 0, 0, 0, 
                    -0.269231, 0.925532, 0, -0.002864, 
                    0, 0, 1, 0, 
                    7, 0, 0, 1);
    -moz-transform: matrix3d(0.925532, 0, 0, 0, 
                    -0.269231, 0.925532, 0, -0.002864, 
                    0, 0, 1, 0, 
                    7, 0, 0, 1);
	transform-origin: 0px 0px 0px;
	-webkit-transform-origin: 0px 0px 0px;
	-moz-transform-origin: 0px 0px 0px;
}

div.tabactive div.tabdisplay {
	border-bottom:0 none;
	background-color:#141414;
}
div.tabactive {
	z-index:1000 !important;
}
div.tab:hover div.tabdisplay {
	border-top-color:white;
	border-left-color:white;
	border-right-color:white;
}

div.tabdisabled {
	color:#808080;
	cursor:not-allowed;
}

.inlineblock {
	display:inline-block;
}

.nodisplay {
	display:none;
}

.inactive {
	color: #808080;
}

span.componentname {
	position:absolute;
	left:0;
	bottom:3px;
	width:100%;
	text-align:center;
	display:block;
	text-shadow: 0 0 2px rgba(0,0,0,1.0), 0 0 2px rgba(0,0,0,1.0), 0 0 3px rgba(0,0,0,1.0);
}

span.regionname {
	position:relative;
	left:30px;
	text-align:left;
	display:block;
	top:5px;
}

span.regionfaction {
	position:absolute;
	right:3px;
	top:7px;
	color:#808080;
	font-size:9px;
}

span.regionid {
	min-width:30px;
	display:inline-block;
}

span.regioninfo {
	color:#808080;
}

div.regionbox:hover span span.regioninfo {
	color:#EEEEEE;
}

div.regionbox.selected span {
	color:white;
}

span.shapename {
	position:absolute;
	left:0;
	bottom:3px;
	width:100%;
	text-align:center;
	display:block;
	font-size:9px;
	text-shadow: 0 0 2px rgba(0,0,0,1.0), 0 0 2px rgba(0,0,0,1.0), 0 0 3px rgba(0,0,0,1.0);
}

span.componentinfo {
	position:absolute;
	left:2px;
	top:-1px;
	width:100%;
	display:block;
	text-align:left;
	font-family: 'Droid Sans Mono', sans-serif;
	font-size:10px;
	color:rgba(130,130,130,1.0);
	text-shadow: 0 0 2px rgba(0,0,0,1.0), 0 0 2px rgba(0,0,0,1.0);
}

span.blockscale:before {
	font-size:80%;
	margin-right:1px;
}

div.component:hover span.componentinfo {
	color:rgba(255,255,255,1.0);
}

span.shipname {
	position:absolute;
	top:3px;
	right:4px;
	text-align:right;
	max-width:185px;
	text-shadow: 0 0 2px rgba(0,0,0,1.0), 0 0 2px rgba(0,0,0,1.0);
}

span.shipfaction {
	position:absolute;
	right:25px;
	bottom:0px;
	max-width:185px;
	text-align:right;
	color:#808080;
	text-shadow: 0 0 2px rgba(0,0,0,1.0), 0 0 2px rgba(0,0,0,1.0);
	font-size:10px;
}

span.shipdirty {
	position:absolute;
	left:7px;
	bottom:-4px;
	max-width:185px;
	text-align:right;
	color:#FF4444;
	text-shadow: 0 0 2px rgba(0,0,0,1.0), 0 0 2px rgba(0,0,0,1.0);
	font-size:30px;
	cursor:default;
}

div.colourpicker {
	padding:5px;
}

div.colourpicker canvas{
	margin: 0 8px 0 0;
}

canvas.starchart {
	background-color:rgb(11,11,11);
	border: 1px solid rgba(140,140,140,1.0);
	display:inline-block;
	margin:4px 4px 0 0;
}

h1 {
	padding:0;
	margin:0 30px 0 0;
	font-weight:normal;
	font-size:38px;
	font-family: 'Droid Sans', sans-serif;
	display:inline-block;
	width:165px;
}

h2 {
	padding:0;
	margin:0 0 10px 0;
	font-weight:normal;
	font-size:25px;
	font-family: 'Droid Sans', sans-serif;
	display:inline-block;
}

input[type=checkbox] {
	position:relative;
	display:inline-block;
	margin:0 0 0 4px;
	top:2px;
}

input[type=color] {
	opacity:0;
	width:100%;
	height:100%;
	border:0;
	margin:0;
	padding:0;
	cursor:pointer;
}

input[type=radio] {
	position:relative;
	top:2px;
	margin:0 5px 0 5px;
	cursor:pointer;
}

label {
	font-weight:normal;
	cursor:pointer;
	margin-right:17px;
}

label.enum {
	margin: 0 0 0 5px;
}

input::-webkit-color-swatch {
    border: none;
}

input::-webkit-color-swatch-wrapper {
    padding:0;
}

select {
	background-color:rgba(0,0,0,0.4);
	color:#FFFFFF;
	border:1px solid rgba(140,140,140,1.0);
	font-family: 'Droid Sans Mono', sans-serif;
	font-size:11px;
}

input[type=text], input[type=number], textarea {
	background-color:rgba(0,0,0,0.4);
	color:#FFFFFF;
	border:1px solid rgba(140,140,140,1.0);
	padding:0 5px 0 5px;
	font-family: 'Droid Sans Mono', sans-serif;
	font-size:11px;
	width:300px;
}

input.compacttext {
	position:relative;
	top:-1px;
	margin-right:1px;
}

textarea {
	display:inline-block;
	position:relative;
	max-width:300px;
	vertical-align:bottom;
	overflow-y:hidden;
}

input.pairfield {
	margin-left:3px;
	margin-right:10px;
	width:100px;
}

input.shortfield {
	margin-right:5px;
	width:150px;
}

table {
	vertical-align:top;
	font-family: Droid Sans Mono;
}

tr {
	vertical-align:top;
}

input[type=file] {
	position:absolute;
	visibility:hidden;
	top:-100px;
	opacity:0;
}

table.debug {
	background-color:rgba(90,90,90,0.3);
	margin:2px;
}

table.debug tr {
	padding:2px;
	border:1px solid #AAAAAA;
}

table.debug tr td {
	border-right: 1px solid #AAAAAA;
	padding:2px 5px 2px 5px;
}

#alertbackground {
	display:none;
	position:absolute;
	width:100vw;
	height:100vh;
	background:rgba(20,20,20,0.8);
	z-index:5000;
	top:-16px;
	text-align:center;
}

div.popup {
	display:none;
	position:relative;
	max-width:50%;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	padding:20px;
	text-align:center;
	font-family: 'Droid Sans Mono', sans-serif;
	font-size:12px;
}

div.listcontainer {
	display:block;
}

div.listcontainer>div {
	display:inline-block;
}

div.listoverlay {
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(60,60,60,0.85);
	z-index:200;
	border:1px solid rgba(90,90,90,1.0);
	padding-left:5px;
	visibility:hidden;
}

div.listoverlay .glyphicon {
	margin-left:5px;
	cursor:pointer;
	color:#808080;
}

div.listoverlay .glyphicon-ok:hover {
	color:#66FF33;
}

div.listoverlay .glyphicon-remove:hover {
	color:#FF4444;
}
 
#alertbutton {
	left:50%;
	transform:translate(-50%);
	-ms-transform:translate(-50%);
	-webkit-transform:translate(-50%);
	-moz-transform:translate(-50%);				
}

#idreorderbutton_ok, #idreorderbutton_cancel {
	display:inline-block;
	margin:15px 10% 0 10%;
}

div.popupbutton {
	width:60px;
	height:20px;

	margin:10px 0 0 0;
	cursor:pointer;
	font-size:12px;
}

div.popupbutton:hover {
	border-color:#FFFFFF;
}

div.popup input {
	margin:15px 0 15px 0;
}

#confirmbuttonyes, #confirmbuttonno {
	display:inline-block;
}

#confirmbuttonno {
	margin-left:20px;
}

#alerttitle, #confirmtitle {
	font-weight:bold;
}

.warning {
	color:#EE3333;
}

.warningminor {
	color:#FFDD33;		
}

input.fielderror {
	border:1px solid red;
}

#haxbox {
	/*display:none;*/
}

#shiplist {
	min-height:250px;
	background-color:#101010;
}

div.copyright {
	color:#404040;
	text-align:center;
	font-family: 'Droid Sans Mono', sans-serif;
	font-size:9px;
	margin:1px 5px 5px 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor:default;
}